Body {
    background-color: grey;
}

.App {
    text-align: center;
    color: #fff;
    background-color: grey;
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 150px;
}

.App h1 {
    margin-bottom: 60px;
}

.NumberInputs {
    margin-bottom: 30px;
}

.movieSearch {
    font-size: 60px;
    border-radius: 20px;
    border: 1px solid darkgrey;
    width: 600px;
    height: 60px;
    padding: 10px;
    text-align: center;
    color: #2a1263;
}

.SearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    width: 40%;
    padding: 10px;
    text-align: center;
    color: #2a1263;
}

.inputOtp {
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    width: 10%;
    padding: 10px;
    text-align: center;
    color: #2a1263;
}

.movieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    width: 10%;
    padding: 10px;
    text-align: center;
    color: #2a1263;
    margin: 5px;
}

.useRefBtn {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    width: 20%;
    padding: 10px;
    text-align: center;
    color: #2a1263;
    margin: 5px;
}